.videofondo {
    color: transparent;
    background-color: transparent;
    z-index: -999;  
}
html, body { width:100%; height:100%; margin:0; padding:0; }

.menu{
    height: 80px;
    width: 1920px;
    background-color: #FFB554;
    color: blue;
}


